.background{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border: none;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}
.full-width{
  width: 100% !important;
}
.content{
  justify-content: center !important;
}
.button-primary-override:hover, 
.button-primary-override:active,
.button-primary-override:focus,
.button-primary-override:visited{
    background-color: white !important;
    color: #0d6efd;
    border: 0 !important;
    box-shadow: none;
}

.input:focus{
  box-shadow: none;
}
